<div>
    <div class="flex p-20">
        <div class="grid grid-cols-2 w-full">
            <div>
                <h2 class="text-white text-5xl font-normal text-left">Selecciona la campañana en la que quieres trabajar</h2>
            </div>
            <div class="flex justify-end items-end pr-10">
                <button class="bg-gradient-to-r from-purple-900 to-gray-900 hover:from-green-400 hover:to-gray-900 font-bold py-3 rounded-3xl text-white w-40">
                    Subir nuevo CSV
                </button>
            </div>
        </div>
    </div>    
    <!-- Titulo -->
    <div class="grid grid-cols-3 gap-10 px-10">
        <div class="flex justify-center px-10">
            <div class="backdrop-blur-sm max-w-max bg-black/50 rounded-lg"> <!-- Agregado items-start aquí -->
                <div class="p-6">
                    <img src="../../assets/images/bg-campaign.jpg" alt="" class="rounded">
                </div>
                <!-- Fecha del proyecto -->
                <div class=" flex items-start pl-4">
                    <span class="text-left text-emerald-700 font-bold">
                        21/07/2023
                    </span>                    
                </div>                
                <!-- Titulo del proyecto -->
                <div class="flex items-start pl-4 pb-4">
                    <h2 class="text-white font-bold text-lg">
                        Proyecto 1 - Sin titulo
                    </h2>
                </div>
                <!-- Boton para editar proyecto -->
                <div class="flex items-start pl-4 pb-6">
                    <button class="bg-gradient-to-r from-purple-900 to-gray-900 hover:from-green-400 hover:to-gray-900 font-bold py-3 rounded-3xl text-white w-40">
                        Editar proyecto
                    </button>
                </div>
            </div>        
        </div>
        <div class="flex justify-center px-10">
            <div class="backdrop-blur-sm max-w-max bg-black/50 rounded-lg">
                <div class="p-6">
                    <img src="../../assets/images/bg-campaign.jpg" alt="" class="rounded">
                </div>
                <!-- Fecha del proyecto -->
                <div class=" flex items-start pl-4">
                    <span class="text-left text-emerald-700 font-bold">
                        21/07/2023
                    </span>                    
                </div>                
                <!-- Titulo del proyecto -->
                <div class="flex items-start pl-4 pb-4">
                    <h2 class="text-white font-bold text-lg">
                        Proyecto 1 - Sin titulo
                    </h2>
                </div>
                <!-- Boton para editar proyecto -->
                <div class="flex items-start pl-4 pb-6">
                    <button class="bg-gradient-to-r from-purple-900 to-gray-900 hover:from-green-400 hover:to-gray-900 font-bold py-3 rounded-3xl text-white w-40">
                        Editar proyecto
                    </button>
                </div>
            </div>
        </div>
        <div class="flex justify-center px-10">
            <div class="backdrop-blur-sm max-w-max bg-black/50 rounded-lg">
                <div class="p-6">
                    <img src="../../assets/images/bg-campaign.jpg" alt="" class="rounded">
                </div>
                <!-- Fecha del proyecto -->
                <div class=" flex items-start pl-4">
                    <span class="text-left text-emerald-700 font-bold">
                        21/07/2023
                    </span>                    
                </div>                
                <!-- Titulo del proyecto -->
                <div class="flex items-start pl-4 pb-4">
                    <h2 class="text-white font-bold text-lg">
                        Proyecto 1 - Sin titulo
                    </h2>
                </div>
                <!-- Boton para editar proyecto -->
                <div class="flex items-start pl-4 pb-6">
                    <button class="bg-gradient-to-r from-purple-900 to-gray-900 hover:from-green-400 hover:to-gray-900 font-bold py-3 rounded-3xl text-white w-40">
                        Editar proyecto
                    </button>
                </div>
            </div>
        </div>
        <div class="flex justify-center px-10">
            <div class="backdrop-blur-sm max-w-max bg-black/50 rounded-2xl"> <!-- Agregado items-start aquí -->
                <div class="p-6">
                    <img src="../../assets/images/bg-campaign.jpg" alt="" class="rounded">
                </div>
                <!-- Fecha del proyecto -->
                <div class=" flex items-start pl-4">
                    <span class="text-left text-emerald-700 font-bold">
                        21/07/2023
                    </span>                    
                </div>                
                <!-- Titulo del proyecto -->
                <div class="flex items-start pl-4 pb-4">
                    <h2 class="text-white font-bold text-lg">
                        Proyecto 1 - Sin titulo
                    </h2>
                </div>
                <!-- Boton para editar proyecto -->
                <div class="flex items-start pl-4 pb-6">
                    <button class="bg-gradient-to-r from-purple-900 to-gray-900 hover:from-green-400 hover:to-gray-900 font-bold py-3 rounded-3xl text-white w-40">
                        Editar proyecto
                    </button>
                </div>
            </div>        
        </div>
        <div class="flex justify-center px-10">
            <div class="backdrop-blur-sm max-w-max bg-black/50 rounded-2xl">
                <div class="p-6">
                    <img src="../../assets/images/bg-campaign.jpg" alt="" class="rounded">
                </div>
                <!-- Fecha del proyecto -->
                <div class=" flex items-start pl-4">
                    <span class="text-left text-emerald-700 font-bold">
                        21/07/2023
                    </span>                    
                </div>                
                <!-- Titulo del proyecto -->
                <div class="flex items-start pl-4 pb-4">
                    <h2 class="text-white font-bold text-lg">
                        Proyecto 1 - Sin titulo
                    </h2>
                </div>
                <!-- Boton para editar proyecto -->
                <div class="flex items-start pl-4 pb-6">
                    <button class="bg-gradient-to-r from-purple-900 to-gray-900 hover:from-green-400 hover:to-gray-900 font-bold py-3 rounded-3xl text-white w-40">
                        Editar proyecto
                    </button>
                </div>
            </div>
        </div>
        <div class="flex justify-center px-10">
            <div class="backdrop-blur-sm max-w-max bg-black/50 rounded-2xl">
                <div class="p-6">
                    <img src="../../assets/images/bg-campaign.jpg" alt="" class="rounded">
                </div>
                <!-- Fecha del proyecto -->
                <div class=" flex items-start pl-4">
                    <span class="text-left text-emerald-700 font-bold">
                        21/07/2023
                    </span>                    
                </div>                
                <!-- Titulo del proyecto -->
                <div class="flex items-start pl-4 pb-4">
                    <h2 class="text-white font-bold text-lg">
                        Proyecto 1 - Sin titulo
                    </h2>
                </div>
                <!-- Boton para editar proyecto -->
                <div class="flex items-start pl-4 pb-6">
                    <button class="bg-gradient-to-r from-purple-900 to-gray-900 hover:from-green-400 hover:to-gray-900 font-bold py-3 rounded-3xl text-white w-40">
                        Editar proyecto
                    </button>
                </div>
            </div>
        </div>        
    </div>

</div>