
<div class="grid grid-cols-1 gap-4 content-start xl:grid-cols-2 w-full">
    <div class="xl:px-36 xl:py-8">        
        <img src="../../assets/images/Logo-Deepia Horizontal Blanco 1.png" class="" width="" height="">        
    </div>    
    <div></div>
    <!-- Texto de titulo -->
    <div>
        <div class="pl-36 py-12">
            <h2 class="text-white font-normal text-6xl text-left">Crea videos personalizados con ayuda de la IA</h2>
        </div>
    </div>
    <!-- Formulario para iniciar sesion-->
    <div class="px-8 py-8 pr-24">        
        <div class="backdrop-blur-sm max-w-max bg-black/30 px-10 py-10 rounded-2xl">
            <h2 class="text-white text-4xl text-left px-3 py-3">Inicia Sesión</h2>
            <form action="">
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full px-3">                        
                        <input name="nombre" class="block w-full bg-transparent text-white border-b focus:outline-none rounded py-3 px-4 mb-3" id="grid-nombre" type="text" placeholder="example@email.com">
                    </div>           
                </div>
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full px-3">                        
                        <input name="nombre" class="block w-full bg-transparent text-white border-b focus:outline-none rounded py-3 px-4 mb-3" id="grid-nombre" type="text" placeholder="Password">
                    </div>           
                </div>
                <!-- Boton de ingreso y registor de cuenta-->
                <div class="grid grid-cols-2">
                    <div class="flex flex-wrap -mx-3 mb-6 px-3">
                        <button class="bg-gradient-to-r from-purple-900 to-gray-900 hover:from-green-400 hover:to-gray-900 font-bold py-3 rounded-xl text-white w-40">
                            Ingresar
                        </button>
                    </div>
                    <div class="flex flex-wrap mb-6">                    
                        <span class="text-white">Si no tienes una cuenta, 
                            <span class="text-green-400 font-bold">
                                <a href="">registrate aqui.</a>
                            </span>
                        </span>                        
                    </div>
                </div>
            </form>
        </div>        
    </div>
 
  </div>