<div class="grid grid-rows-6 grid-flow-col gap-4">
    <div class="mt-20">        
        <span class="text-white font-bold text-6xl">Columnas encontradas</span>        
    </div>
    <div class="">    
        <span class="text-white font-normal text-4xl">Selecciona 2 para personalizar el video y 2 para contacto.</span>        
    </div>
    <div class="-mt-8">
        <div class="ml-20 mr-20 backdrop-blur-sm bg-black/30 rounded-full">
            <div class="grid grid-cols-2 gap-4">
                <div class="flex">
                    <button class="rounded-full gradient mx-8 my-8 w-12 h-12">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none" class="ml-4">
                            <g clip-path="url(#clip0_113_123)">
                                <path d="M14.6335 2.28572V3.71428C14.6335 4.97322 11.4384 6 7.50034 6C3.56223 6 0.367188 4.97322 0.367188 3.71428V2.28572C0.367188 1.02678 3.56223 0 7.50034 0C11.4384 0 14.6335 1.02678 14.6335 2.28572ZM14.6335 5.5V8.71428C14.6335 9.97322 11.4384 11 7.50034 11C3.56223 11 0.367188 9.97322 0.367188 8.71428V5.5C1.8997 6.53572 4.70465 7.01788 7.50034 7.01788C10.296 7.01788 13.1009 6.53572 14.6335 5.5ZM14.6335 10.5V13.7143C14.6335 14.9732 11.4384 16 7.50034 16C3.56223 16 0.367188 14.9732 0.367188 13.7143V10.5C1.8997 11.5357 4.70465 12.0179 7.50034 12.0179C10.296 12.0179 13.1009 11.5357 14.6335 10.5Z" fill="white"/>                            </g>
                            <defs>
                                <clipPath id="clip0_113_123">
                                    <rect width="15" height="16" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg> 
                    </button>
                    <div class="grid-rows-2 items-start mt-7">
                        <div class="flex text-white text-2xl font-bold font-normal">
                            <span>ID</span>
                        </div>
                        <div class="text-white/50 font-normal text-lg">
                            <span>Columna 1</span>
                        </div>
                    </div>
                </div>
                <div class="flex items-center justify-evenly">
                    <!-- Selecciona -->
                    <span class="text-white/70 font-bold text-2xl">Selecciona:</span>
                    <button class="bg-gradient-to-r from-purple-900 to-gray-900 font-bold py-3 rounded-3xl text-white w-40">
                        Personalizar
                    </button>
                    <button class="bg-purple-900/30 to-gray-900font-bold py-3 rounded-3xl text-white w-40" disabled>
                        Contacto
                    </button>
                </div>
            </div>                         
        </div>
    </div>
    <div>
        <div class="-mt-8">
            <div class="ml-20 mr-20 backdrop-blur-sm bg-black/30 rounded-full">
                <div class="grid grid-cols-2 gap-4">
                    <div class="flex">
                        <button class="rounded-full gradient mx-8 my-8 w-12 h-12">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none" class="ml-4">
                                <g clip-path="url(#clip0_113_123)">
                                    <path d="M14.6335 2.28572V3.71428C14.6335 4.97322 11.4384 6 7.50034 6C3.56223 6 0.367188 4.97322 0.367188 3.71428V2.28572C0.367188 1.02678 3.56223 0 7.50034 0C11.4384 0 14.6335 1.02678 14.6335 2.28572ZM14.6335 5.5V8.71428C14.6335 9.97322 11.4384 11 7.50034 11C3.56223 11 0.367188 9.97322 0.367188 8.71428V5.5C1.8997 6.53572 4.70465 7.01788 7.50034 7.01788C10.296 7.01788 13.1009 6.53572 14.6335 5.5ZM14.6335 10.5V13.7143C14.6335 14.9732 11.4384 16 7.50034 16C3.56223 16 0.367188 14.9732 0.367188 13.7143V10.5C1.8997 11.5357 4.70465 12.0179 7.50034 12.0179C10.296 12.0179 13.1009 11.5357 14.6335 10.5Z" fill="white"/>                            </g>
                                <defs>
                                    <clipPath id="clip0_113_123">
                                        <rect width="15" height="16" fill="white"/>
                                    </clipPath>
                                </defs>
                            </svg> 
                        </button>
                        <div class="grid-rows-2 items-start mt-7">
                            <div class="flex text-white text-2xl font-bold font-normal">
                                <span>ID</span>
                            </div>
                            <div class="text-white/50 font-normal text-lg">
                                <span>Columna 1</span>
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center justify-evenly">
                        <!-- Selecciona -->
                        <span class="text-white/70 font-bold text-2xl">Selecciona:</span>
                        <button class="bg-purple-900/30 to-gray-900font-bold py-3 rounded-3xl text-white w-40" disabled>
                            Personalizar
                        </button>
                        <button class="bg-gradient-to-r from-purple-900 to-gray-900 font-bold py-3 rounded-3xl text-white w-40">
                            Contacto
                        </button>
                    </div>
                </div>                         
            </div>
        </div>
    </div>
    <div>
        <div class="-mt-8">
            <div class="ml-20 mr-20 backdrop-blur-sm bg-black/30 rounded-full">
                <div class="grid grid-cols-2 gap-4">
                    <div class="flex">
                        <button class="rounded-full gradient mx-8 my-8 w-12 h-12">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none" class="ml-4">
                                <g clip-path="url(#clip0_113_123)">
                                    <path d="M14.6335 2.28572V3.71428C14.6335 4.97322 11.4384 6 7.50034 6C3.56223 6 0.367188 4.97322 0.367188 3.71428V2.28572C0.367188 1.02678 3.56223 0 7.50034 0C11.4384 0 14.6335 1.02678 14.6335 2.28572ZM14.6335 5.5V8.71428C14.6335 9.97322 11.4384 11 7.50034 11C3.56223 11 0.367188 9.97322 0.367188 8.71428V5.5C1.8997 6.53572 4.70465 7.01788 7.50034 7.01788C10.296 7.01788 13.1009 6.53572 14.6335 5.5ZM14.6335 10.5V13.7143C14.6335 14.9732 11.4384 16 7.50034 16C3.56223 16 0.367188 14.9732 0.367188 13.7143V10.5C1.8997 11.5357 4.70465 12.0179 7.50034 12.0179C10.296 12.0179 13.1009 11.5357 14.6335 10.5Z" fill="white"/>                            </g>
                                <defs>
                                    <clipPath id="clip0_113_123">
                                        <rect width="15" height="16" fill="white"/>
                                    </clipPath>
                                </defs>
                            </svg> 
                        </button>
                        <div class="grid-rows-2 items-start mt-7">
                            <div class="flex text-white text-2xl font-bold font-normal">
                                <span>ID</span>
                            </div>
                            <div class="text-white/50 font-normal text-lg">
                                <span>Columna 1</span>
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center justify-evenly">
                        <!-- Selecciona -->
                        <span class="text-white/70 font-bold text-2xl">Selecciona:</span>
                        <button class="bg-gradient-to-r from-purple-900 to-gray-900 font-bold py-3 rounded-3xl text-white w-40">
                            Personalizar
                        </button>
                        <button class="bg-purple-900/30 to-gray-900font-bold py-3 rounded-3xl text-white w-40" disabled>
                            Contacto
                        </button>
                    </div>
                </div>                         
            </div>
        </div>
    </div>
    <div>
        <div class="-mt-8">
            <div class="ml-20 mr-20 backdrop-blur-sm bg-black/30 rounded-full">
                <div class="grid grid-cols-2 gap-4">
                    <div class="flex">
                        <button class="rounded-full gradient mx-8 my-8 w-12 h-12">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none" class="ml-4">
                                <g clip-path="url(#clip0_113_123)">
                                    <path d="M14.6335 2.28572V3.71428C14.6335 4.97322 11.4384 6 7.50034 6C3.56223 6 0.367188 4.97322 0.367188 3.71428V2.28572C0.367188 1.02678 3.56223 0 7.50034 0C11.4384 0 14.6335 1.02678 14.6335 2.28572ZM14.6335 5.5V8.71428C14.6335 9.97322 11.4384 11 7.50034 11C3.56223 11 0.367188 9.97322 0.367188 8.71428V5.5C1.8997 6.53572 4.70465 7.01788 7.50034 7.01788C10.296 7.01788 13.1009 6.53572 14.6335 5.5ZM14.6335 10.5V13.7143C14.6335 14.9732 11.4384 16 7.50034 16C3.56223 16 0.367188 14.9732 0.367188 13.7143V10.5C1.8997 11.5357 4.70465 12.0179 7.50034 12.0179C10.296 12.0179 13.1009 11.5357 14.6335 10.5Z" fill="white"/>                            </g>
                                <defs>
                                    <clipPath id="clip0_113_123">
                                        <rect width="15" height="16" fill="white"/>
                                    </clipPath>
                                </defs>
                            </svg> 
                        </button>
                        <div class="grid-rows-2 items-start mt-7">
                            <div class="flex text-white text-2xl font-bold font-normal">
                                <span>ID</span>
                            </div>
                            <div class="text-white/50 font-normal text-lg">
                                <span>Columna 1</span>
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center justify-evenly">
                        <!-- Selecciona -->
                        <span class="text-white/70 font-bold text-2xl">Selecciona:</span>
                        <button class="bg-gradient-to-r from-purple-900 to-gray-900 font-bold py-3 rounded-3xl text-white w-40">
                            Personalizar
                        </button>
                        <button class="bg-purple-900/30 to-gray-900font-bold py-3 rounded-3xl text-white w-40" disabled>
                            Contacto
                        </button>
                    </div>
                </div>                         
            </div>
        </div>
    </div>
</div>
<div class="pb-12">
    <button class="bg-gradient-to-r from-purple-900 to-gray-900 hover: font-bold py-3 rounded-3xl text-white w-52">
        Personalizar video
    </button>
</div>

