<div>
    <div class="flex p-20">
        <div class="grid grid-cols-2 w-full">
            <div>
                <h2 class="text-white text-5xl font-normal text-left">Selecciona la campañana en la que quieres trabajar</h2>
            </div>
            <div class="flex justify-end items-end pr-10">
                <button class="bg-gradient-to-r from-purple-900 to-gray-900 hover:from-green-400 hover:to-gray-900 font-bold py-3 rounded-3xl text-white w-40">
                    Subir nuevo CSV
                </button>
            </div>
        </div>
    </div>    
    <!-- Titulo -->
    <div class="flex justify-center p-20">
        <div class="backdrop-blur-sm max-w-max bg-black/50 rounded-lg">
            <!-- Titulo -->
            <div class="p-28">
                <div>
                    <span class="text-white text-5xl font-normal">No hay campañas creadas</span>
                </div>                
                <div class="text-white text-2xl font-normal p-3">
                    <span>Empieza subiendo un nuevo CSV para crear una campaña</span>
                </div>
                <div class="p-3">
                    <button class="bg-gradient-to-r from-purple-900 to-gray-900 hover:from-green-400 hover:to-gray-900 font-bold py-3 rounded-3xl text-white w-40">
                        Subir nuevo CSV
                    </button>
                </div>
            </div>
            
        </div>
    </div>

</div>