<div>
    <div class="md:flex md:p-20">
        <div class="md:grid md:grid-cols-2 md:w-full">
            <div>
                <h2 class="text-2xl p-8 md:p-0 text-white md:text-5xl font-normal md:text-left">Selecciona la campañana en la que quieres trabajar</h2>
            </div>
            <div class="md:flex md:justify-end md:items-end md:pr-10">
                <button class="bg-gradient-to-r from-purple-800 to-purple-950 hover:from-green-400 hover:to-gray-900 font-bold py-3 rounded-3xl text-white w-40">
                    Subir nuevo CSV
                </button>
            </div>
        </div>
    </div>    
    <!-- Titulo -->
    <div class=" p-6 md:p-0 md:flex md:justify-center md:-mt-20 md:p-20">
        <div class="backdrop-blur-sm md:max-w-max bg-black/30 rounded-lg">
            <!-- Titulo -->
            <div class="p-6 md:p-0 md:p-28">
                <div class="">
                    <span class="text-2xl text-white md:text-5xl font-normal">No hay campañas creadas</span>
                </div>                
                <div class="text-white/50 md:text-2xl font-normal md:p-3">
                    <span>Empieza subiendo un nuevo CSV para crear una campaña</span>
                </div>
                <div class="p-6 md:p-0 md:p-3">
                    <button class="bg-gradient-to-r from-purple-800 to-purple-950 hover:from-green-400 hover:to-gray-900 font-bold py-3 rounded-3xl text-white w-40">
                        Subir nuevo CSV
                    </button>
                </div>
            </div>
            
        </div>
    </div>

</div>