<app-header></app-header>
<!-- Main content -->
<div class="w-screen h-screen bg-zinc-900">
  <div class="grid grid-cols-2">
    <!-- Contenedor de la izquierda- -->
      <div class="flex items-center justify-center px-6 py-6">
        <div class="bg-black rounded-lg w-full h-full">
          <div class="space-y-0.5 flex-1">
            <h3 class="font-medium text-lg tracking-tight text-white leading-tight m-5">
              AI Power Analytics
            </h3>
            <p class="text-sm font-normal text-gray-400 leading-none">
              Columnas de datos
            </p>
            <div class="grid grid-rows-4 gap-8 items-center pt-4">
              <div>
                <div class="grid justify-center">                  
                  <div class="">
                    <button class="bg-gradient-to-r from-purple-800 to-purple-950 font-bold py-3 rounded-3xl text-white w-72">
                      ID: Columna 1
                  </button>
                  </div> 
                </div>
              </div>
              <div>
                <div class="grid justify-center">                  
                  <div class="">
                    <button class="bg-gradient-to-r from-purple-800 to-purple-950 font-bold py-3 rounded-3xl text-white w-72">
                      Nombre: Columna 1
                  </button>
                  </div> 
                </div>
              </div>
              <div>
                <div class="grid justify-center">
                  
                  <div class="">
                    <button class="bg-gradient-to-r from-purple-800 to-purple-950 font-bold py-3 rounded-3xl text-white w-72">
                      Email: Columna 1
                  </button>
                  </div> 
                </div>
              </div>
              <div>
                <div class="grid justify-center">
                  
                  <div class="">
                    <button class="bg-gradient-to-r from-purple-800 to-purple-950 font-bold py-3 rounded-3xl text-white w-72">
                      Número Telefonico: Columna 1
                  </button>
                  </div> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- Contenedor de la derecha -->
    <div class="flex items-end px-8 py-8">
        <img src="../../assets/images/video-exmaple.jpg" alt="" class="rounded-lg">
    </div>        
  </div>
  <div class="grid grid-row-1">
    
  </div>
</div>



