
  <div class="h-56 grid grid-cols-1 gap-3 content-start lg:grid-cols-2">
    <div>
        <div>
            <img src="../../assets/images/Logo-Deepia Horizontal Blanco 1.png" class="pl-36 py-12 h-auto max-w-full">
        </div>
    </div>    
    <div></div>
    <!-- Texto de titulo -->
    <div>
        <div class="pl-36 py-12">
            <h2 class="text-white text-6xl text-left">Crear videos personalizados con ayuda de la IA</h2>
        </div>
    </div>
    <!-- Formulario para iniciar sesion-->
    <div>
        <div class="px-8 py-8">
            <div class="backdrop-blur-sm bg-black/30">
                asdsad
            </div>
        </div>
    </div>
 
  </div>